---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Senior Design: GitHub Commit History Replay",
    desc: [
      "Problem: Teaching staff spends a lot of time to understand what students have tried on their assignments",
      "Solution: Web app with easy interface to let teaching staff step through the commit history of a file",
      "Architect a system to handle up to 20 concurrent users with up to 2000 repositories each",
      "Designed and implemented endpoints and UI components for the file explorer and branch dropdown functionality",
    ],
    link_desc: [`Work in progress: Demo \u2192`],
    link: "https://drive.google.com/file/d/1eeMwEnQNaOS57KqzX8oi7qN7MaZsoWa9/view?usp=sharing",
    tech: [
      "React",
      "Typescript",
      "Spring",
      "Java",
      "PostgreSQL",
      "Docker",
      "Tailwind",
    ],
  },
  {
    title: "University: Final Paper on BFS Algorithms",
    desc: [
      "Performance analysis of BFS algorithms",
      "Compared top-down, bottom-up, and hybrid (direction optimizing) algorithms",
      "Tested variable number of threads, datasets, and impl. (atomic ops vs critical sections)",
      "Found up to 16x speed up using the top-down atomic algo with 16 cores on a dense dataset compared to a top-down critical section algorithm",
    ],
    link_desc: [`View my paper \u2192`],
    link: "/assets/kevin_lin_final_paper_parallel_bfs_algorithms_and_optimizations.pdf",
    tech: ["OpenMP", "C++", "Shell"],
  },

  {
    title: "Liquid Rocketry Lab: Mission Control",
    desc: [
      "Led a team of 4 to maintain and develop new features for the mission control platform using agile methodology",
      "Led the development of a feature to monitor 10+ unique events, improving real-time data visibility",
      "Enhanced 10+ UI components which contribute to safer tests",
      "Redesigned backend event system architecture to improve data reliability and decrease code complexity",
    ],
    link_desc: [`View the club \u2192`],
    link: "https://liquidrocketry.com/",
    tech: ["React", "Flask", "Docker", "MongoDB"],
  },
  {
    title: "Game Jam: Breaking Legs",
    desc: [
      "Co-built a 2d platform game in the endless run genre",
      "Implemented UI functionality, map generation, player movement, and enemy spawn generation",
    ],
    link_desc: ["View our game \u2192"],
    link: "https://unstable-groot.itch.io/breaking-legs",
    tech: ["Unity", "C#"],
  },
];
---

<!doctype html>
<html>
  <Header title="Projects | Kevin Lin" />
  <body>
    <div class="content">
      <Sidebar selectedItem="projects" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img
                src="/assets/icons/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Projects</h1>
            <section class="items-container">
              <div class="resouce-items">
                {
                  projects.map((project) => (
                    <Project
                      title={project.title}
                      desc={project.desc}
                      tech={project.tech}
                      link={project.link}
                      link_desc={project.link_desc}
                    />
                  ))
                }
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
