---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "University: Final Paper on BFS Algorithms",
    desc: [
      "Performance analysis of BFS algorithms",
      "Compared top-down, bottom-up, and hybrid (direction optimizing) algorithms",
      "Tested variable number of threads, datasets, and impl. (atomic ops vs critical sections)",
      "Found up to 16x speed up using the top-down atomic algo with 16 cores on a dense dataset compared to a top-down critical section algorithm",
    ],
    link_desc: [`View my paper \u2192`],
    link: "/assets/kevin_lin_final_paper_parallel_bfs_algorithms_and_optimizations.pdf",
    tech: ["OpenMP", "C++", "Shell"],
  },
  {
    title: "In Progress...",
    desc: ["TODO"],
    tech: ["Node.js", "NPM"],
  },
];
---

<!doctype html>
<html>
  <Header title="Projects | Kevin Lin" />
  <body>
    <div class="content">
      <Sidebar selectedItem="projects" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Projects</h1>
            <section class="items-container">
              <div class="resouce-items">
                {
                  projects.map((project) => (
                    <Project
                      title={project.title}
                      desc={project.desc}
                      tech={project.tech}
                      link={project.link}
                      link_desc={project.link_desc}
                    />
                  ))
                }
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
